.difficulties__image {
    background-image: url('../../../images/difficulties.svg');
    background-size: 520px 520px;
    background-repeat: no-repeat;
    background-position: center;
    flex-grow: 1;
    position: relative;
}

.difficulties__image::before {
    width: 500px;
    height: 600px;
    background-size: contain;
    background-repeat: no-repeat;
    content: '';
    position: absolute;
    left: 180px;
    top: 100px;
    background-image: url('../../../images/difficulties_bg.svg');
}