.qoute__video {
    background-image: url('../../../images/play.svg');
    background-size: 150px 150px;
    background-repeat: no-repeat;
    background-position: 130px;
    background-color: #E68E38;
    border-radius: 200px;
    margin-left: 130px;
    position: relative;
    width: 390px;
    height: 390px;
    position: relative;
    transition: all .3s;
    cursor: pointer;
}

.qoute__video:hover {
    background-size: 160px 160px;
    background-color: #E68E3895;
}