.header__heading {
    font-size: 72px;
    line-height: 84px;
    margin: 0;
    padding: 100px 0 28px;
}

@media screen and (max-width: 1024px) {
    .header__heading {
        font-size: 60px;
        line-height: 72px;
    }
}

@media screen and (max-width: 860px) {
    .header__heading {
        padding: 50px 0 28px;
    }
}

@media screen and (max-width: 500px) {
    .header__heading {
        font-size: 50px;
        line-height: 60px;
    }
}