.apartments {
    max-width: 1280px;
    margin: 0 auto;
    background: #E68E38;
    border-radius: 15px;
    padding: 80px 90px;
    box-sizing: border-box;
    background-image: url('../../images/apartments.svg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: right;
}

@media screen and (max-width: 1400px) {
    .apartments {
        padding: 80px 40px;
        border-radius: 0;
    }
}

@media screen and (max-width: 660px) {
    .apartments {
        background-position: 200%;
    }
}

@media screen and (max-width: 520px) {
    .apartments {
        background-image: none;
    }
}

@media screen and (max-width: 480px) {
    .apartments {
        padding: 60px 20px;
    }
}