.benefits__image {
    background-image: url('../../../images/benefits.svg');
    background-size: 630px 650px;
    background-repeat: no-repeat;
    background-position: center;
    flex-grow: 1;
    position: relative;
}

.benefits__image::before {
    width: 500px;
    height: 600px;
    background-size: contain;
    background-repeat: no-repeat;
    content: '';
    position: absolute;
    left: 180px;
    top: 100px;
    background-image: url('../../../images/benefits_bg.svg');
}