.footer__link {
    font-size: 18px;
    font-weight: 300;
    line-height: 18px;
    margin: 0;
    padding: 0 0 10px;
    color: #1D1D1D;
    text-underline-offset: 4px;
    text-decoration-color: #00000026;
    transition: opacity .3s;
}

.footer__link:hover {
    opacity: .6;
}