.about__text-block {
    max-width: 640px;
}

@media screen and (max-width: 1400px) {
    .about__text-block {
        padding-left: 50px;
    }
}

@media screen and (max-width: 580px) {
    .about__text-block {
        padding: 0;
    }
}