.run__image {
    flex-grow: 1;
    width: 270px;
    height: 550px;
    background-size: contain;
    background-image: url('../../../images/run.svg');
    background-repeat: no-repeat;
    background-position: center;
    position: relative
}

.run__image::before {
    width: 566px;
    height: 613px;
    content: '';
    right: 200px;
    top: 0;
    position: absolute;
    background-image: url('../../../images/run_bg.svg');
}

@media screen and (max-width: 1080px) {
    .run__image {
        width: 220px;
        height: 500px;
        align-self: center;
    }
    .run__image::before {
        left: 30%;
    }
}

@media screen and (max-width: 680px) {
    .run__image {
        height: 400px;
    }
}