.run__list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    counter-reset: my-awesome-counter;
    list-style: none;
    grid-gap: 60px 40px;
    margin: 0;
    padding: 0;
}

@media screen and (max-width: 660px) {
    .run__list {
        grid-template-columns: 1fr;
        grid-gap: 40px;
        padding-top: 30px;
    }
}