.company__heading {
    color: #e68e38;
    margin: 0;
    padding-bottom: 50px;
}

@media screen and (max-width: 900px) {
    .company__heading {
        width: 100%;
    }
}

@media screen and (max-width: 480px) {
    .company__heading {
        padding-bottom: 35px;
    }
}